node_modules
package-lock.json

# Ignore virtual environment
.venv/
venv/

# Ignore environment variables
.env
.env.*
*.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.__pycache__/

*.venv/
# Ignore compiled Python files
*.so

# Ignore build / packaging
build/
dist/
*.egg-info/

# Ignore IDE / OS files
.DS_Store
.vscode/
.idea/

# Ignore logs
*.log